<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.zephyr194.userhome.helper</string>
  <key>BundleProgram</key>
  <string>Contents/Resources/UserHomeHelper</string>
  <key>MachServices</key>
  <dict>
    <key>com.zephyr194.userhome.helper</key>
    <true/>
  </dict>
  <key>ProcessType</key>
  <string>Interactive</string>
</dict>
</plist>
